/* styles.css */
body {
    background-color: #f0f0f0;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.product:hover {
    transform: scale(1.05); /* Slightly increase the size of the product */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    background-color: #f9f9f9; /* Change background color on hover */
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.products, .cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product, .cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.product:img {
    transition: transform 0.3s ease;
}

.product:hover img {
    transform: scale(1.1); /* Slightly increase the image size */
}
